<div class="modal" [ngClass]="showModal ? 'show-modal' : ''">
  <div class="modal-content">
    <span class="close-button" (click)="closeModal()">×</span>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
      <input type="hidden" formControlName="id">
      <input type="text" formControlName="name">
      <input type="text" formControlName="phone">
      <input type="text" formControlName="gender">
      <input type="text" formControlName="email">
      <input type="submit" value="Submit" [disabled]="!contactForm.valid">
    </form>
  </div>
</div>
